.f {
  border: 1px solid rgba(0, 0, 0, 0.603);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.856);
  margin: 100px 350px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.445) !important;
}
.form-control {
  font-size: 20px;
}
.btn {
  border-radius: 50px;
  background: rgba(255, 0, 0, 0.863) !important;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.445) !important;
}
@media only screen and (max-width: 1400px) {
  .f {
    margin: 90px 30px;
  }
}
@media only screen and (max-width: 700px) {
  .f {
    margin: 50px 20px;
  }
}
